.yx-wrapper {
  height: 100vh;
  padding: 10px;
}
.top {
  height: 75%;
}
.bottom {
  padding-top: 10px;
  height: 25%;
}
.left {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 25;
  background-color: #E0E0E0;
  box-shadow:0px 2px 4px 0px rgba(212,212,212,1);
  border-radius:4px;
}
.right {
  float: left;
  width: 50%;
  height: 100%;
}
.r-top, .r-bottom {
  height: 50%;
  box-shadow:0px 2px 4px 0px rgba(212,212,212,1);
  border-radius:4px;
}
